@model RacaCadastrarViewModel
@{
	var especies = ViewBag.Especies as List<string>;
	especies.Add(string.Empty);

	var selectDasEspecies = new SelectList(especies, string.Empty);
}
<h3>Cadastro de Raça</h3>

<form asp-action="cadastrar" method="post">
	<div>
		<label asp-for="Nome" class="form-label" />Nome
		<input asp-for="Nome" class="form-select"/>
		<span asp-validation-for="Nome" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Especie" class="form-label">Espécie</label>
		<select asp-for="Especie" asp-items="selectDasEspecies" class="form-select" required="required">
			<option selected="selected" disabled="disebled" value="">Selecione uma opção</option>
		</select>
	</div>
	<div class="text-end">
		<a href="/raca" class="btn btn-outline-danger">Cancelar</a>
		<button type="submit" class="btn btn-success">Salvar</button>
	</div>
</form>